<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Your Website.com</title>
		<link rel="stylesheet" href="css/bs.min.css" type="text/css" />
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<link rel="stylesheet" href="css/menu.css" type="text/css" />
		<link rel="stylesheet" href="css/fa.css" type="text/css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="js/ip.js" type="text/javascript"></script>
		<script type='text/javascript' src="js/bs.min.js"></script>
		<!--[if IE]>
			<script src="http:http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--[if lte IE 7]>
			<script src="js/IE8.js" type="text/javascript"></script><![endif]-->
		<!--[if lt IE 7]>
		 <link rel="stylesheet" href="css/fa.ie7.css" type="text/css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="row" id="logo-wrapper">
				<div class="span8 offset2">
					<img src="img/logo.png"/>
				</div>
			</div>
		</div>
		<div class="row" id="menu-wrapper">
			<div class="navbar navbar-static-top center">
				<div class="navbar-inner center">  
					<ul id="main-menu" class="nav nav-pills">
						<li class="active"><a href="#">Home</a></li>
						<li class="menu-divider">•</li>
						<li><a href="#">Services</a></li>
						<li class="menu-divider">•</li>
						<li><a href="#">About</a></li>
						<li class="menu-divider">•</li>
						<li><a href="#">Help</a></li>
						<li class="menu-divider">•</li>
						<li><a href="#">Settings</a></li>
					</ul>
					
				</div>
				<div class="navbar-inner">
					<ul class="pull-right" id="login">
						<li><a href="#">Sign In</a></li>
						<li class="sep">/</li>
						<li><a href="">Register</a></li>
					</ul>	
				</div>
							
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div class="row">
						<div class="span2">
							<ul id="nav" class="breadcrumb">
							  <li><a href="#">Services</a> <span class="divider">></span></li>
							  <li class="active">Discovery</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="span2 left-menu" id="left-menu">
							<div id="nav-head" class="nav-header">
								<a href="#" class="menu-head" data-toggle="collapse" data-target="#userMenu">Services <i style="margin-left:61px;" class="icon-chevron-sign-down"></i></a>
								<div id="menu-bg">
									<ul style="list-style: none;" class="collapse in" id="userMenu">
										<li class="link active"><a class="menuitem" href="#">Discovery</a></li>
										<li class="link" ><a class="menuitem" href="#">View Inventory</a></li>
										<li class="link" ><a class="menuitem" href="#">View Status</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="well">
								<h3>Discovery</h3>
								<div class="inner">
									<form class="form">
										<div class="control-group">
											<label class="control-label pull-left" for="inputEmail">IP Range :</label>
											<div class="controls">
												<input class="input-fix login-range" type="text" id="inputEmail" placeholder="Start IP Address">
												<span id="to">To</span>
												<input class="input-fix login-range" type="text" id="inputEmail" placeholder="Stop IP Address">
											</div>
										</div>
										<p>&nbsp;</p>
										<div class="control-group">
											<label class="control-label pull-left" for="inputEmail">Enter Username :</label>
											<div class="controls">
												<input class="input-fix login-range2" type="text" id="inputEmail" placeholder="Login">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label pull-left" for="inputEmail">Enter Password :</label>
											<div class="controls">
												<input class="input-fix login-range2" type="text" id="inputEmail" placeholder="Password">
												<input type="button" class="discover-btn" />
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="well">
								<h3>Previous Discoveries</h3>
								<div class="inner">
									<form class="form">
										<div class="control-group">
											<label class="control-label pull-left"  for="inputEmail">IP Range :</label>
											<div class="controls">
												<input class="input-xxlarge ip-range input-fix" type="text" id="inputEmail" placeholder="IP Address">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label pull-left" for="inputEmail">IP Range :</label>
											<div class="controls">
												<input class="input-xxlarge ip-range input-fix" type="text" id="inputEmail" placeholder="IP Address">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label pull-left" for="inputEmail">IP Range :</label>
											<div class="controls">
												<input class="input-xxlarge ip-range input-fix" type="text" id="inputEmail" placeholder="IP Address">
											</div>
										</div>
						
									
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' id="bsJs">
			$(document).ready(function() {
				$('.ip-range').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': "[0-9]?"}});
				$('.login-range').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation:  {'Z': "[0-9]?"}});
				$('[data-toggle=collapse]').click(function(){
					http:// toggle icon
					$(this).find("i").toggleClass("icon-chevron-sign-right  icon-chevron-sign-down ");
					
				});
				$('.collapse').on('show', function (e) {
					
					http:// hide open menus
					$('.collapse').each(function(){
					  if ($(this).hasClass('in')) {
						  $(this).collapse('toggle');
						  
					  }
					});
				  
				})
			});
        </script>
	</body>
</html>